/* General--------------*/
h1{text-decoration: underline;}
p{line-height: 1.5;}
ul{font-weight: bold;}
ol{font-style: italic;}

/*h1{font-size: 35px;}
#contacto{color: yellow;}*/

p{color: yellowgreen;}
.odi{font-size: xx-small; color: violet;}

/* Estilos tipograficos------------*/

/* Cabecera ---------------*/

/* Estructura ------------*/

/* Pie ----------------*/

/* Paginas ----------------*/